/* comboInput is designed to mimic the "input" class when enabled and the "outputField" class when disabled */
/* the base selecter adds all css properties unique to the "input" class */
.comboInput {
    font-family: Monospace;
    font-weight: normal;
    font-size: 13px;
    margin: 0;
    padding-left: 0;
    padding-right: 1px;
    padding-top: 0;
    padding-bottom: 0;
    border: 1px solid #7eadd9;
    background-image: url(/profoundui/proddata/images/input-background.gif);
    background-repeat: repeat-x;
}

/* this overrides the above class when the element is disabled */
/* Add all properties unique to the "outputField" class and override the rest */
/* "unset" overrides properties back to lower level CSS */
:disabled.comboInput {
    appearance: none;
	font-family: "Trebuchet MS";
	font-weight: unset;
	font-size: unset;
	margin: unset;
	padding-left: unset;
	padding-right: unset;
	padding-top: unset;
	padding-bottom: unset;
	border: unset;
	background-image: unset;
	background-repeat: unset;
    /* Stops user agent from changing the background */
    background-color: transparent;
	color: unset;
    opacity: unset;
}

